.horizontal-menu {
    display: flex;
    padding: 20px 66px 9.24px 55.13px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 137px;
    justify-content: space-between;
}

.horizontal-menu .navbar-options {
    display: flex;
    gap: 68px;
    padding-right: 330px;
}

.horizontal-menu .navbar-options .nav-link {
    cursor: pointer;
    color: #646464 !important;
}

/* Style The Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.horizontal-menu .navbar-options .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.horizontal-menu .navbar-options .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 25px 25px;
}

/* Links inside the dropdown */
.horizontal-menu .navbar-options .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.horizontal-menu .navbar-options .dropdown-content a:hover {background-color: #f1f1f1}
  
/* Show the dropdown menu on hover */
.horizontal-menu .navbar-options .dropdown:hover .dropdown-content {
    display: block;
}

.horizontal-menu .user-menu-options {
    display: flex;
    color: #646464;
    gap: 57px;
    align-items: center;
}