{% extends "../base/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'petWorld/home/chamada.css' + product_img %}">

<section class="products-call">
    <div class="products-call-body">
        <div class="products-call-title">
            <span>{{product_title}}</span>
        </div>
        <div class="figure">
            <img src="{% static product_img %}" alt="{{product_img_alt}}" 
                width="300" height="300" class="d-inline-block align-text-top">
        </div>
    </div>
</section>

{% include './buy-section.html' %}

{% endblock content %}