.news {
    padding: 167px 58px 257px 58px;
    display: grid;
    gap: 167px;
}

.news .news-title {
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    color: #9878A4;
}

.news .news-infos {
    display: flex;
    gap: 58px;
    justify-content: center;
}

.news .news-infos .news-infos-info {
    display: grid;
    background: #FFFFFF;
    box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    width: 479px;
    height: 696px;
    align-content: start;
}

.news .news-infos .news-infos-info .info-title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: rgba(103, 72, 100, 0.71);
    padding: 55px 0px 53px 0px;
}

.news .news-infos .news-infos-info .info-body {
    display: grid;
}

.news .news-infos .news-infos-info .info-body .info-body-text {
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #616161;
}

.news .news-infos .news-infos-info .info-body .info-body-figure {
    text-align: center;
}