.products-call {
    height: 601px;
    background: #F6E4FF;
    display: flex;
}

.products-call-title {
    color: #FFF;
    text-align: center;
    font-size: 200px;
    font-family: Itim;
}

.products-call .products-call-body {
    gap: 50px;
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-call .products-call-body .products-call-text {
    width: 900px;
}

.products-call .figure .figure-top {
    position: absolute;
    left: 1304px;
    top: 200px;
}

.logo span{
    margin-bottom: 10vw;
}

svg{
    width: 3vw;
    height: 3vw;
}

.buy-section{
    padding: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buy-section-filter{
    display: flex;
    justify-content: space-between;
    border-bottom:1px #898989 solid;
    padding-bottom: 10vh;
}

.filter-breadcrumbs{
    font-size: 2rem;
    text-decoration: none;
    align-items: flex-start;
}

.breadcrumb{
    color: #9F9F9F !important;
    background-color: transparent;
}

.buy-section-select{
    font-size: 2rem;
    color: #535353;
    margin-top: 30px;
}

.buy-section-select label{
    font-weight: lighter;
}

.busca-ordem{
    padding: 10px;
    border: 1px #535353 solid;
    background-color: transparent;
    margin-left: 10px;
}

.buy-section-products{
    display: flex;
    padding-top: 10vh;
    gap: 84px;
}

.buy-section-products .search{
    width: 15%;
}

.search{
    font-size: 60%;
}

.options-search{
    padding: 5vw 0 5vw 0;
}

.options-search .option{
    display: flex;
    justify-content: space-between;
    color: #898989;
    padding-bottom: 10px;
}

.search-input{
    width: 100%;
    border-radius: 45px;
    padding: 5px;
    border:1px solid #898989;
    outline: none;
    margin: auto;
}

.cards {
    display: flex;
    column-gap: 99px;
    row-gap: 84px;
    width: 1173px;
    flex-wrap: wrap;
}

.cards .card {
    width: 325px;
    height: 368px;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 17px;
    
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 6px 20px 4px rgba(0, 0, 0, 0.25);
}

.cards .card .card-image {
    width: 197.868px;
    height: 207px;
}

.cards .card .card-division {
    width: 279.133px;
    height: 1px;
    background: #D2D2D2;
}

.cards .card .card-info {
    display: flex;
    width: 139.559px;
    flex-direction: column;

    color: #4E4E4E;
    text-align: center;
    font-size: 20px;
    font-family: Inter;
}