{% load static %}
<link rel="stylesheet" href="{% static 'petWorld/home/news.css' %}">

{% block news %}
<section class="news">
    <div class="news-title">
        <h1>O QUE TEMOS DE NOVO? :3</h1>
    </div>
    <div class="news-infos">
        <div class="news-infos-info">
            <div class="info-content">
                <div class="info-title">
                    <h2>Acessórios</h2>
                </div>
                <div class="info-body">
                    <div class="info-body-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    </div>
                    <div class="info-body-figure">
                        <img class="cat-figure" src="{% static 'petWorld/figures/figure-5-gatohi.png' %}" alt="Figura de um cachorro fofinho fazendo continencia">
                    </div>
                </div>
            </div>
        </div>
        <div class="news-infos-info">
            <div class="info-content">
                <div class="info-title">
                    <h2>Roupinhas</h2>
                </div>
                <div class="info-body">
                    <div class="info-body-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    </div>
                    <div class="info-body-figure">
                        <img class="cat-figure" src="{% static 'petWorld/figures/figure-4-gatolove.png' %}" alt="Figura de um cachorro fofinho fazendo continencia">
                    </div>
                </div>
            </div>
        </div>
        <div class="news-infos-info">
            <div class="info-content">
                <div class="info-title">
                    <h2>Pelúcias</h2>
                </div>
                <div class="info-body">
                    <div class="info-body-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    </div>
                    <div class="info-body-figure">
                        <img class="cat-figure" src="{% static 'petWorld/figures/figure-4-gatolove.png' %}" alt="Figura de um cachorro fofinho fazendo continencia">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock news %}